{% extends "online_test_frontend/index.html" %}
{% block content %}
<div class="container">
	<center>
	<h1>{{exam}}</h1>
	<p>Scheduled On:</p>
	<hr>
	<h2>Click to register for the test</h2>
	<form action="{% url 'online_test_frontend:subscribetest' student=student exam=exam %}" method="post">
		{% csrf_token %}
		
			{% for field in form %}
			<div class="row" style="padding: 10px">
					<div class="col-md-2">    
					{{ field.label_tag.as_hidden }}
					
					{{ field.errors.as_hidden }}
					</div>
					<div class="col-md-5 " >
						<div>
						{{ field.as_hidden }}
						</div>
					</div>
					
				</div>
			{% endfor %}


			<input type="submit" value="Register">
		
	</form>
	</center>
</div>

{% endblock %}