{% extends "online_test_frontend/index.html" %}
{% block content %}

	<div id="main" class="container">
		{% for test_sample in test %}
			<h1>{{test_sample.title}}</h1>
			<h4>{{test_sample.description}}</h4>
			<p>{{test_sample.instructions}}</p>
			<hr>
			{% for part in test_sample.part_exam %}
				<h3>{{part.name}}</h3>
				{% for section in part.section_part %}
					<h4>{{section.section_type}}</h4>
					<h4>Instructions:</h4> 
					<p>{{section.section_instructions}}</p>
					<div style="margin-left:50px;">
						{% for question in section.question_section %}
							{% if question %}
								<p>Q {{question.serial}} : {{question.content}}</p>

								<form method="post" action="" id="myform">
    							{% csrf_token %}

								{% for choices in question.question_choices_question %}
									
									<div id="{{question.serial}}">
									{% if section.section_type == "multiple_choice_correct_type" %}
										{% for choice in choices.choices %}
										

											<input type="checkbox"  
											class="{{test_sample.id}}" id= "{{student}}" name="{{question.serial}}" 
											value="{{choice}}" > {{ forloop.counter }} : {{choice}}<br>
										{% endfor %}

									{% else %}

										{% if section.section_type == "integer_type" %}	

											<input type="text"  
											class="{{test_sample.id}}" id= "{{student}}" name="{{question.serial}}" 
											 >  <br>

										{% else %}
											
											{%if section.section_type == "single_choice_correct_type" %}

													{% for choice in choices.choices %}
										
											<input type="radio"  
											class="{{test_sample.id}}" id= "{{student}}" name="{{question.serial}}" 
											value="{{choice}}" > {{ forloop.counter }} : {{choice}}<br>
													{% endfor %}

											{% else %}

											{% endif %}


										{% endif%}

									{% endif %}

				    				
				    				</div>
				    				<br>

								{% endfor %}
								<button type="button" class="{{test_sample.id}}" id= "{{student}}" name="{{question.serial}}" value="save">Save</button>
								</form>

							{% else %}
								<p>No Questions</p>
							{% endif %}

						{% endfor %}
					</div>
					<br>
				{% endfor %}
			{% endfor %}
			<center>
				<button><a href="{% url 'online_test_frontend:thankyou' student=student exam_id=test_sample.id %}">Submit</a>
				</button>
			</center>

		{% endfor %}
		
	</div>

<script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>
<script type="text/javascript">

// function pass(obj, value, name, classobj, idobj) {
// 	var question_num= name;
// 		var student_username=idobj;
// 	// e.preventDefault();
// 	var exam_id= $(obj).attr('class');

	
// 	var question_num= name;


// 	}

        $("button").click(function(){
        	// alert("clicked");
        	
        	
        	var student_username=this.id;
        	// alert(student_username)
            var selected_choice = [];

            var thisname= this.name;
            // alert(thisname)

            var exam_id=$("#"+this.name+" input[name="+ thisname +"]:checked").attr('class');
            var exam_id=$("#"+this.name+" input[name="+ thisname +"]").attr('class');
            // alert(exam_id);

            var question_num=$("#"+this.name+" input[name="+ thisname +"]:checked").attr('name');
            var question_num=$("#"+this.name+" input[name="+ thisname +"]").attr('name');
            // var question_num=$("#"+this.name+" input[type='text']:checked").attr('name')
            // alert(question_num);

            $.each($("#"+this.name+" input[name="+ thisname +"]:checked"), function(){            
                selected_choice.push($(this).val());
            });

             $.each($("#"+this.name+" input[name="+ thisname +"]"), function(){            
                selected_choice.push($(this).val());
            });
            

            // alert(selected_choice);

            var objectJ={question_num,selected_choice};
			var myJ= JSON.stringify(objectJ);
			


        	 $.ajax({

					 	type:'POST',
					 	url: "{% url 'online_test_frontend:submitselected' %}",
					 	data:{
					 		
					 		student:student_username,
					 		exam_id: exam_id,
					 		// selected: selected_choi,
					 		progress: myJ,
					 		csrfmiddlewaretoken: '{{ csrf_token }}'

					 		
					 	},

					 	success:function(){
					 		console.log('saved')

					 	}


					 });

    	})

	var array = new Array();
	array.push(value)
	var selected_choice= array;
	
	 // $.ajax({

	 // 	type:'POST',
	 // 	url: "{% url 'online_test_frontend:submitselected' %}",
	 // 	data:{
	 		
	 // 		student:student_username,
	 // 		exam_id: exam_id,
	 // 		// selected: selected_choi,
	 // 		progress: myJ,
	 // 		csrfmiddlewaretoken: '{{ csrf_token }}'

	 		
	 // 	},

	 // 	success:function(){
	 // 		console.log('saved')

	 // 	}


	 // })
	

</script>

<script type="text/javascript">
$(document).ready(function () {
    //Disable full page
    $("body").on("contextmenu",function(e){
        return false;
    });
    
    //Disable part of page
    $("#id").on("contextmenu",function(e){
        return false;
    });
});
</script>

<script type="text/javascript">
$(document).ready(function () {
    //Disable cut copy paste
    $('body').bind('cut copy paste', function (e) {
        e.preventDefault();
    });
   
    //Disable mouse right click
    $("body").on("contextmenu",function(e){
        return false;
    });
});
</script>
{% endblock %}