{% extends "online_test_frontend/index.html" %}
{% block content %}

	<div id="main" class="container">
		<h1 ></h1><hr>
		{{test.id}}
		<h4 >{{student.name}}</h4>
			{% for test_sample in test %}
				<h1>{{test_sample.id}}</h1>
				<h1>{{test_sample.title}}</h1>
				<h4>{{test_sample.description}}</h4>
				<p>{{test_sample.instructions}}</p>
				<hr>
				{% for part in test_sample.part_exam %}
					<h3>{{part.name}}</h3>
					{% for section in part.section_part %}
						<h4>{{section.section_type}}</h4>
						<h4>Instructions:</h4> 
						<p>{{section.section_instructions}}</p>
						<div style="margin-left:50px;">
							{% for question in section.question_section %}
								{% if question %}
									<p>Q : {{question.content}}</p>



									<form method="post" action="" id="myform">
	    							{% csrf_token %}

									{% for choices in question.singlechoicecorrect_question %}

										<input type="radio" onCLick="pass(this, this.value, this.name, this.class)" class="{{test_sample.id}}" id= "options" name="{{question.id}}" value="{{choices.choice_1}}" > {{choices.choice_1}}<br>
				    				
				    					<input type="radio" onCLick="pass(this, this.value, this.name, this.class)" class="{{test_sample.id}}" id= "options" name="{{question.id}}" value="{{choices.choice_2}}" >{{choices.choice_2}}<br>
				    					<input type="radio" onCLick="pass(this, this.value, this.name, this.class)" class="{{test_sample.id}}" id= "options" name="{{question.id}}" value="{{choices.choice_3}}"  >{{choices.choice_3}}<br>
					    				<input type="radio" onCLick="pass(this, this.value, this.name, this.class)" class="{{test_sample.id}}" id= "options" name="{{question.id}}" value="{{choices.choice_4}}"  >{{choices.choice_4}}</br></br>
					    				
					    				<br>

									{% endfor %}

									</form>

								{% else %}
									<p>No Questions</p>
								{% endif %}

							{% endfor %}
						</div>
						<br>
					{% endfor %}
				{% endfor %}
			{% endfor %}
		<button onclick="submit()">Submit</button>
	</div>

<script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>


<script type="text/javascript">
function pass(obj, value, name, classobj) {
	
	
	// e.preventDefault();
	var exam_id= $(obj).attr('class')
	alert(exam_id)
	
	var question_num= name
	alert(question_num);
	var selected_choi= value
	alert(selected_choi);
	var objectJ={question_num,selected_choi};
	var myJ= JSON.stringify(objectJ);
	
	 $.ajax({

	 	type:'POST',
	 	url: "{% url 'online_test_frontend:submitselected' %}",
	 	data:{
	 		
	 		exam_id: exam_id,
	 		// selected: selected_choi,
	 		progress: myJ,
	 		csrfmiddlewaretoken: '{{ csrf_token }}'

	 		
	 	},

	 	success:function(){
	 		console.log('saved')

	 	}


	 })
	
}
</script>
{% endblock %}