{% load i18n %}
{% load static %}
<!DOCTYPE html>
<head>
<meta charset="utf-8">
<meta name="description" content="{% block description %}{% endblock %}">
<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-MML-AM_CHTML" async>
</script>
<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'online_test/style.css' %}" />
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title>Conceptum Education Online Test</title>
<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

</head>

<body>
	<div class="topbar">
		{% if user.is_authenticated %}
		<p><i class="fa fa-user-secret"></i>Hello {{user.username}}</p>
		{% else %}
		<p><a href="/accounts/login"><i class="fa fa-secret"></i>Login</a></p>
		{% endif %}


	</div>

	<div class="dashboard_controls">
		{% block sidebar %}
		<div class="sidebar">
	        <ul style="list-style: none;">
	        	<li><a href="{% url 'online_test:dashboard' %}"><i class="fa fa-home"></i>Dashboard</a></li>
	        	<li><a href="{% url 'online_test:testmanage' %}"><i class="fa fa-child"></i>Tests</a></li>
	        	<li><a href=""><i class="fa fa-home"></i>Students</a></li>
	        	<li><a href="{% url 'online_test:resultlist' %}"><i class="fa fa-home" ></i>Results</a></li>
	        	<li><a href="{% url 'online_test:createtest' %}"><i class="fa fa-plus"></i>Create new tests</a></li>
	        	{% if user.is_authenticated %}
			     <!-- <li><a ><i class="fa fa-child"></i>Hello{{ user.get_username }}</a></li> -->
			     <li style="color:white"><a href="/logout"> <i class="fa fa-minus"></i>Logout</a></li>   
				   
				   {% endif %} 
    		</ul>
    	</div>
        {% endblock %}
	</div> 

	<div class="dashboard_content" >		
<!-- Before the quiz content -->
		<div class="container">


			{% block content %}

			{% endblock %}
		</div>

		<!-- After the quiz content -->
	</div>
	<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="{% static 'online_test/js/app.js' %}"></script>
    {% block javascript %}{% endblock %}

</body>
</html>