{% extends "online_test/index.html" %}
{% block content %}
<style type="text/css">
	
	/* The Modal (background) */

.modal-content {

	left: 44%;
	width: 30%;
	height: 52%;
	top:36%;
}

.close {

	margin-right:1%;
}



@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

</style>

<div class="container">
	<div class="test-detail-style">
		<h1>{{exam.title}}</h1>
		<h4> {{part}}</h4>
		{% for section in object_list %}
			<div style="display: inline-block;">
	        	<a href="{% url 'online_test:updatesection' exam=exam part=part section=section %}">
	        		<small>{{section.section_type}}</small>
        				        		
	        	</a>
	        </div>
		{% endfor %}
		<div class="current-section-detail">
				
	    		<button id="myBtn">Add New Section</button>
			</div>

	</div>


	<div id="myModal" class="modal">

	  <!-- Modal content -->
	  <div class="modal-content">
	    <span class="close" >&times;</span>
	    <div class="inner" style=" margin-top: 18% ">
	    <center><a style="color:#f93c00;" class="sections" href="{% url 'online_test:singlechoicecreatesection' exam=exam part=part  %}">Single Choice Correct</a></center>

	    <center><a style="color:#f93c00;" class="sections" href="{% url 'online_test:multiplechoicecreatesection' exam=exam part=part  %}">Multiple Choice Correct</a></center>

	    <center><a style="color:#f93c00;" class="sections" href="{% url 'online_test:matchcreatesection' exam=exam part=part  %}">Match Type</a></center>

	    <center><a style="color:#f93c00;" class="sections" href="{% url 'online_test:integercreatesection' exam=exam part=part  %}">Integer Type</a></center>
	    
	

	       
	  </div>
	</div>

	</div>
	
	<div class="sectionliststyle">
		
		<div class="details">
			<div class="current-section" >
				<h6>Total Questions: </h6> <small>part.part_total_questions</small><br>
	    		<h6>Maximum Marks: </h6> <small>section.calculate_marks</small><br>
			</div>
		</div>

		{% if object_list %}
			{% for section in object_list %}
		    <!--div class="section-box">
		    	<div class="section-box-detail">
		    		<h6>Section Type:</h6> <small>{{section.section_type}}</small><br>
		    		<h6>Total Questions: </h6> <small>{{section.section_total_questions}}</small><br>
		    		<h6>Maximum Marks: </h6> <small>{{section.calculate_marks}}</small><br>
		    		<h6>Positive:</h6> <small>{{section.positive_marks}}</small><br>
		    		<h6>Negative:</h6> <small>{{section.negative_marks}}</small><br>
		    	</div>
		    	<div class="section-box-edit">
		        	<a href="{% url 'online_test:updatesection' exam=exam part=part section=section %}">
		        		Edit Section
	        			<span class="fa-stack fa-lg">
	        				<i class="fa fa-arrow-circle-right fa-2x"></i>
	        			</span>		        		
		        	</a>
		        </div>
		    </div-->
		    {% endfor %}
	 	{% else %}
	 		<p>No Data Found</p>
	 	{% endif %}
	 	{% if questions %}
			{% for question in questions %}
			    <div class="section-box-question">
			    	<div class="section-box-detail-question">
			    		<h6>Q: </h6> <small>{{question.content}}</small><br>
			    	</div>
			    	<div class="section-box-edit-question">
			    		
		    			<ul>
		    			{% for choice in question.get_choices %}
		    				<li>{{choice}} </li>
							
		    			{% endfor %}
		    			<h6>Correct-choice: </h6> <small>{{question.correct_choice }}</small> 
			    					
			    		
			    		</ul>
			    		
			        </div>

			    </div>
		    {% endfor %}
	 	{% else %}
	 		<div >
	 			<h1 style="text-align:center; margin-top:120px;">No question in this section</h1>
	 		</div>
	 	{% endif %}
 	</div>
</div>

<script type="text/javascript">
	
	var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on the button, open the modal 
btn.onclick = function() {
    modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>

{% endblock %}