{% extends "online_test/index.html" %}
{% block content %}
<div class="container">
	<h3>Add new question</h3>
	<form action="{% url 'online_test:addnewquestion' exam=exam part=part section=section %}" method="post">
		{% csrf_token %}
		{{ form.non_field_errors }}
		
		{% for field in form %}
			<div class="fieldWrapper">
				{{ field.errors }}
				{{ field.label_tag }} {{ field }}
				{% if field.help_text %}
				<p class="help">{{ field.help_text|safe }}</p>
				{% endif %}
			</div>
		{% endfor %}
    	<input type="submit" value="SAVE">
	</form>
</div>
{% endblock %}