{% extends "online_test/index.html" %}
{% block content %}
<div class="container">
	<h3>Add new question</h3>
	<form action="{% url 'online_test:addnewquestion' exam=exam part=part section=section %}" method="post">

		{% csrf_token %}
		{% for field in form %}
		<div class="row" style="padding: 10px">
				<div class="col-md-2">    
					{{ field.label_tag }}
					
					{{ field.errors }}
				</div>
				<div class="col-md-10 " >
					<div>
					{{ field }}
					{% if field.help_text %}
						<sup>{{ field.help_text }}</sup>
					{% endif %}
					</div>
				</div>
				
			</div>
		{% endfor %}


		<center><input type="submit" value="SAVE"></center>
	</form>
</div>




{% endblock %}