{% extends "online_test/index.html" %}
{% block content %}
<div class="container">
	<h3>Add new question</h3>
	<form action="{% url 'online_test:addnewquestion' exam=exam part=part section=section %}" method="post">

		{% csrf_token %}
		{{ form.non_field_errors }}
		<table>
			<tr>
				<td>
					<label for="id_serial">Serial :</label>
				</td>
				<td>
					<label for="id_content">Content :</label>
				</td>
			</tr>
			<tr>
				<td>
					<input name="serial" id="id_serial" required 
					placeholder="Enter serial number">

				</td>
				<td>
					<textarea name="content" id="id_content" rows="4" cols="70" required 
					placeholder="Enter the question"></textarea>

				</td>
			</tr>
		</table>
    	<input type="submit" value="SAVE">
	</form>
</div>




{% endblock %}