
<html>
  <head>
        <meta charset="utf-8" />
        <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <title>Add new Question</title>
  </head>
  <body>
      <form method="post" action="">
        {{formset.management_form}}
         {% csrf_token %}
        
    <table>
      {{form}}
    </table>
    <table>
    {{ formset }}
    </table>
    <input type="submit"/>
    </form>
  </body>


 <script type="text/javascript">
   var section="{{section}}"
      window.onload = function() {
      if (section=='single_choice_correct_type' || section=='multiple_choice_correct_type'){
        var extra=3;
      }
      else {
          if(section=='match_type'){
          var extra = 6;
        }
        else {
          var extra =0;
          
        }
    }



};


if(section=='single_choice_correct_type'){
  // alert('entered');
var limit = 1;
$("input[type='checkbox']").on('change', function(evt) {
  // alert('trying');
   if($("input[type='checkbox']:checked").length > limit) {
       this.checked = false;
       // alert('stopped');
   }
});

}
 </script>