
{% extends "online_test/index.html" %}
{% block content %}
<div class="container">
	<h3>Add new question</h3>
	<form action="{% url 'online_test:addnewquestionbatch' exam=exam part=part section=section %}" method="post">
		{% csrf_token %}
		{{ form.non_field_errors }}
		{{ formset.management_form }}
		<table>
	    	{% for form in formset %}
	    		<tr>
	    			<td><label>{{ form.serial.label }}</label></td>
	    			<td><label>{{ form.content.label }}</label></td>
	    		</tr>
	    		<tr>
	    			<td>
						<input name="form-{{ forloop.counter0 }}-serial" id="id_form-{{ forloop.counter0 }}-id_serial" required 
						placeholder="Enter serial number">
					</td>
	    			<td>
	    				<textarea name="form-{{ forloop.counter0 }}-content" id="id_form-{{ forloop.counter0 }}-content" rows="4" cols="70" required 
						placeholder="Enter the question"></textarea>
					</td>
	    			<!--td>{{ form.content }}</td-->
	    		</tr>
	    		<tr>
	    	    	<td>{{ form.figure }}</td>
	    	    	{% if field.help_text %}
        			<p class="help">{{ field.help_text|safe }}</p>
        			{% endif %}
	    	    </tr>
	    	{% endfor %}
    	</table>
    	<input type="submit" value="SAVE">
	</form>
</div>
{% endblock %}