{% extends "online_test/index.html" %}
{% block content %}
<div class="container">
	<h3>Available Tests</h3>
	<table class="table table-bordered table-striped">
	    <thead>
	      <tr>
	        <th>Title</th>
	        <th>Created On</th>
	        <th>Published</th>
	        <th>Edit</th>
	      </tr>
	    </thead>
	    <tbody>
	    	{%for exam in exam_list%}
	    	<tr>
	    		<td class="col-md-1">{{exam.title}}</td>
	    		<td class="col-md-1">{{exam.created_on}}</td>
	        	<td class="col-md-1">{{exam.draft}}</td>
	        	<td class="col-md-1"><a href="{% url 'online_test:testdetail' slug=exam.url %}">Link</a></td>
	        	<!--td><button type="button" class="btn btn-primary btn-sm">EDIT</button></td-->
			</tr>
	    	{% endfor %}
	    </tbody>
 	</table>

</div>
{% endblock %}